<div class="container-center">
{{#> form formTitle="Вход" formClass="login-form" formTitleClass="login-form_title"}}
    {{> input labelName="Логин" labelClass="login-form_label" name="login" type="text" inputClass="login-form_input" inputValue="ivanivanov" }}
    {{> input labelName="Пароль" labelClass="login-form_label" name="password" type="password" inputClass="login-form_input" inputValue="••••••••••••" }}

    {{> button link="main" buttonClass="login-form_auth-button" buttonText="Войти"}}
    {{> button link="register" buttonClass="login-form_reg-link" buttonText="Нет аккаунта?"}}
{{/form}}
</div>