@import "../../assets/index.css";

.login-form_label {
    color: $mountain-mist;
    font-size: $font-size-xs;
    display: block;
    line-height: $font-size-xs;
    margin-top: 16px;
}

.login-form_input {
    color: $eerie-black;
    font-size: $font-size-m2;
    cursor: pointer;
    line-height: 25px;
    border-bottom: 1px solid $royal-blue;
    min-width: 280px;
}

.signin-form_label {
    color: $mountain-mist;
    font-size: $font-size-xs;
    display: block;
    line-height: 9px;
    margin-top: 16px;
}

.signin-form_input {
    color: $eerie-black;
    font-size: $font-size-m2;
    cursor: pointer;
    line-height: 25px;
    border-bottom: 1px solid $royal-blue;
    min-width: 280px;
}

.settings-page_label {
    float: left;
}

.settings-page_input {
    float: right;
    text-align: right;
    color: $mountain-mist;
}