.login-form_label {
    color: #999999;
    font-size: 9px;
    display: block;
    line-height: 9px;
    margin-top: 16px;
}

.login-form_input {
    color: #1E1E1E;
    font-size: 13px;
    cursor: pointer;
    line-height: 25px;
    border-bottom: 1px solid #3369F3;
    min-width: 280px;
}

.signin-form_label {
    color: #999999;
    font-size: 9px;
    display: block;
    line-height: 9px;
    margin-top: 16px;
}

.signin-form_input {
    color: #1E1E1E;
    font-size: 13px;
    cursor: pointer;
    line-height: 25px;
    border-bottom: 1px solid #3369F3;
    min-width: 280px;
}

.settings-page_label {
    float: left;
}

.settings-page_input {
    float: right;
    text-align: right;
    color: #999999;
}