@import "../../assets/index.css";

.login-form_auth-button {
    text-decoration:none;
    cursor: pointer;
    background-color: $royal-blue;
    color: $white;
    font-size: $font-size-m2;
    font-weight: 500;
    border-radius: 8px;
    height: 37px;
    line-height: 37px;
    vertical-align: middle;
    text-align: center;
    min-width: 280px;
    margin-top: 12em;
}

.login-form_reg-link {
    cursor: pointer;
    color: $royal-blue;
    font-size: $font-size-s;
    line-height: 11px;
    margin: auto;
    margin-top: 14px;
}

.signin-form_reg-button {
    text-decoration: none;
    cursor: pointer;
    background-color: $royal-blue;
    color: $white;
    font-size: $font-size-m2;
    font-weight: 500;
    border-radius: 8px;
    height: 37px;
    line-height: 37px;
    vertical-align: middle;
    text-align: center;
    min-width: 280px;
    margin-top: 4em;
}

.signin-form_auth-link {
    cursor: pointer;
    color: $royal-blue;
    font-size: $font-size-s;
    line-height: 11px;
    margin: auto;
    margin-top: 14px;
}

.settings-page_save-button {
    text-decoration:none;
    cursor: pointer;
    background-color: $royal-blue;
    color: $white;
    font-size: $font-size-m2;
    font-weight: 500;
    border-radius: 8px;
    height: 37px;
    line-height: 37px;
    vertical-align: middle;
    text-align: center;
    width: 280px;
    margin-top: 1em;
}