<div class="{{lookup styles context.formClass}}">
    <h1 class="{{lookup styles context.formTitleClass}}">{{context.formTitle}}</h1>
    <div class="{{styles.[form_inner-wrapper]}}">
        {{> @partial-block }}
    </div>
</div>