<div class="{{styles.[container-center]}}">
    <div class="{{styles.[err404]}}">
        <h1 class="{{styles.[err404_header]}}">404</h1>
        <div class="{{styles.[err404_description]}}">Не туда попали</div>
        {{> button link="main" buttonClass="err404_link" buttonText="Назад к чатам"}}
    </div>
</div>