<div class="container-center">
    <div class="err500">
        <h1 class="err500_header">500</h1>
        <div class="err500_description">Мы уже фиксим</div>
        {{> button link="main" buttonClass="err500_link" buttonText="Назад к чатам"}}
    </div>
</div>