<div class="{{styles.[container-center]}}">
    <div class="{{styles.[err500]}}">
        <h1 class="{{styles.[err500_header]}}">500</h1>
        <div class="{{styles.[err500_description]}}">Мы уже фиксим</div>
        {{> button link="main" buttonClass="err500_link" buttonText="Назад к чатам"}}
    </div>
</div>